<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport", content=
        "width=device-width, initial-scale=1.0">
        <title>Opus-5</title>
    </head>
    <body>
        <header><h1>Opus-5</h1></header>
        <main>
            <h1>Choose your config</h1>
            <form method="POST", action="{{
                url_for('index')
            }}">
               <!-- <label>Moodle<input type="checkbox"
                value="moodle" name="check"></label> -->
                <label>Docker installation for ubuntu 22<input type="checkbox"
                value="docker-ubuntu-22" name="check"></label>
                <label>Portainer in Docker<input type="checkbox"
                value="portainer" name="check"></label>
                <input type="submit">
            </form>
        </main>
    </body>
</html>